@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    border: 1px solid black;
    grid-row: 1 / -1;
    background-color: #512da8;
    color: #fff;
}

.logo {
    margin: 20px;
    display: flex;
    gap: 20px;
}

.logo a {
    font-size: 40px;
    color: #fff;
}

.nav {
    display: grid;
    gap: 50px;
    margin-top: 30px;
    margin-left: 30px;
}

.icon {
    color: #fff;
}

.nav li {
    display: grid;
    grid-template-columns: 50px 150px;
    width: 200px;
}

.links-1, .links-2 {
    list-style: none;
    display: grid;
    gap: 10px;
}

.header {
    background-color: #fff;
    border: 1px solid red;
}

.main-content {
    border: 1px solid green;
}
